body {
    font-family: "Poppins", sans-serif;
    background-color: #2e3537;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.book {
    width: 750px;
    height: 850px;
    position: relative;
    perspective: 1500;
}

input {
    display: none;
}

.cover, .back-cover {
    background-color: #f06292; /* Color de fondo rosado */
    /* Añade una imagen de fondo con corazones rojos */
    background-image: url('https://images.emojiterra.com/openmoji/v13.1/512px/2764.png'); /* Ruta de la imagen de corazones rojos */
    background-size: 10%; /* Tamaño de la imagen al 50% del contenedor */
    background-repeat: repeat; /* Repetir la imagen para cubrir todo el contenedor */
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 5px rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    transition: transform 1s;
}


.cover label {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.back-cover {
    position: relative;
    z-index: -1;
}

.page {
    position: absolute;
    background-color: white;
    width: 730px;
    height: 830px;
    border-radius: 0 15px 15px 0;
    margin-top: 10px;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition-duration: 1.5s;
}


.front-page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 5rem;
    font-size: 32px; /* Aumenta el tamaño de la fuente */

}

.back-page {
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 99;
    
}

.next, .prev {
    position: absolute;
    bottom: 1em;
    cursor: pointer;
    font-size: 50px; /* Aumenta el tamaño de la fuente */

}

.next {
    right: 1em;
}

.prev {
    left: 1em;
}

#page1 {
    z-index: 3;
}

#page2 {
    z-index: 2;
}

#page3 {
    z-index: 1;
}

#checkbox-cover:checked ~ .book {
    transform: translateX(0px);
}

#checkbox-cover:checked ~ .book .cover {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 1;
}

#checkbox-cover:checked ~ .book .page {
    box-shadow: 0 0 3px rgb(99, 98, 98);
}

#checkbox-page1:checked ~ .book #page1 {
    transform: rotateY(-180deg);
    z-index: 2;
}

#checkbox-page2:checked ~ .book #page2 {
    transform: rotateY(-180deg);
    z-index: 3;
}
.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #629ff0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none; /* Ocultar inicialmente */
        font-size: 40px; /* Aumenta el tamaño de la fuente */

}
.imagen-pequena {
    width: 1;
    height: 10;
}
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
